body {
  margin: 0;
  overflow: hidden; /* Hide scrollbars */
  background-color: #111;
}

#app {
  display: block;
  width: 100vw;
  height: 100vh;

  user-select: none;
  -webkit-user-drag: none;
  touch-action: none;
}

#app-container {
  position: relative; /* Create a positioning context for children */
}
#instructions {
  position: absolute; /* Position relative to the container */
  top: 30px;
  left: 30px;
  color: white;
  font-family: sans-serif;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  pointer-events: none; /* Make text non-interactive */
  user-select: none;
}
